
  .skills-grid {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
  }
  .skills-card {
    text-align: center;
  }
  @media (max-width:1000px) {
    .skills-grid{
      gap: 60px;
    }
  }