
.footer-span{
   padding: 15px;
   display: flex;
   justify-content: space-between;
   font-size: 24px;
}

@media (max-width:600px) {
    .footer-span{
        font-size: 27px;
        gap: 40px;
        display: grid;
        grid-template-columns:300px 200px;
    }
    .footer-icon{
        gap: 30px;
        align-items: center;
        text-align: center;
        justify-content: end;
    }
}