.contact-page {
    display: grid;
    grid-template-columns: 1fr 600px;
    justify-items: center;
    padding: 40px;
    margin-top: 75px;
  }
 
  .contact-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
   align-items: center;
  }

  .contact-header {
    font-size: 40px;
    font-weight: 600;
    padding: 10px;
  }
 
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .contact-input {
    padding: 15px 50px;
    border-bottom: 2px solid black;
  }
  .contact-submit {
    padding: 7px 3px;
    border-bottom: 2px solid black;
    align-self: flex-end;
    cursor: pointer;
  }
  @media (max-width:1100px) {
    .contact-page{
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }
  @media (max-width:700px) {
    .contact-page{
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: fit-content;
      margin-left: 70px;
    }
  }
  